@import "src/assets/scss/mixins";

:host {
    width: 90%;
    display: block;

    .final__section {
        @include fullSpace;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;

        &__img {
            width: 40%;
            aspect-ratio: .8;
            @include imageFix;
        }

        &__text {}
    }
}

.animate-charcter {
    display: block;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 2.5;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}