@import "src/assets/scss/mixins";

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .step {
        &__content {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 15px 20px;

            &__question {
                flex: 1;
                display: block;
            }

            &__answer {
                flex: 1;
                position: relative;
            }
        }
    }
    .button__navigation{
        margin: 20px 10px;
    }
    .answer-correct {
        @include answerBox;

        h2 {
            font-weight: 700;
            color: rgb(0, 128, 0);
        }

        img {
            width: 40%;
            aspect-ratio: 1;
            @include imageFix;
        }

        &.active {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }
    }

    .answer-wrong {
        @include answerBox;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-weight: 700;
            color: rgb(128, 0, 28);
        }

        img {
            width: 40%;
            aspect-ratio: 1;
            @include imageFix;
        }

        &.active {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }

    }

    .answer__list {
        display: flex;
        justify-content: space-between;
        flex-grow: 2;
        font-weight: 500;
        color: rgb(0, 128, 0);
        text-align: left;
    }
}