<ng-template matStepLabel>Fill out your name</ng-template>
<div class="step__content">
  <div class="step__content__question">
    <p>{{ question.question }}</p>
    <form [formGroup]="questionLocalService.formGroup">
      <div [formArrayName]="formName">
        <ng-container *ngFor="let item of formArray.controls; index as i">
          <mat-checkbox [formControlName]="i">{{
            question.options[i].text
          }}</mat-checkbox>
          <br />
        </ng-container>
      </div>
    </form>
  </div>

  <div class="step__content__answer">
    <div class="answer-correct" [ngClass]="{ 'active': answer === 0 }">
      <h2>Well done!! You answered correctly</h2>
      <img src="/assets/images/right.jpeg" alt="right-img" />
    </div>
    <div class="answer-wrong" [ngClass]="{ 'active': answer > 0 }">
      <h2>sorry!! You answered wrong</h2>
      <div class="answer__list">
        <span>
          <h4>The correct answers are:</h4>
          <ng-container *ngFor="let item of question.options">
            <p *ngIf="item.value"><span>&#10004;</span>{{ item.text }}</p></ng-container
          >
        </span>
         <img src="/assets/images/wrong.png" alt="wrong-img" /> 
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="answer < 0; else navigation">
  <button
    mat-raised-button
    color="primary"
    (click)="submitForm()"
    type="button"
    class="button__navigation"
  >
    submit
  </button>
</ng-container>
<ng-template #navigation>
  <div >
    <button
      mat-stroked-button
      matStepperPrevious
      type="button"
      *ngIf="formIndex > 0"
      class="button__navigation"
    >
      Back
    </button>
    <button
      mat-stroked-button
      matStepperNext
      type="button"
      *ngIf="formIndex < 4"
      class="button__navigation"
    >
      Next
    </button>
    <button
      mat-stroked-button
      type="button"
      (click)="goToFinal()"
      *ngIf="formIndex === 4"
      class="button__navigation"
    >
      show final score
    </button>
  </div>
</ng-template>
