@import "src/assets/scss/mixins";



:host {
    @include fullSpace;
    @include flexRowCenter;
    @include backgroundFix;
    background: url('/assets/images/login-bg.jpg') no-repeat;
}

.login {
    &__form {
        background-color: rgb(255 130 0 / 26%);
        width: 40%;
        border-radius: 20px;
        @include flexColumnCenter;
        padding: 90px;

        &__input {
            width: 100%;
        }

        &__links {
            width: 100%;
            @include flexColumnCenter;
        }
    }


}
